section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: left;
	color: #374FFB;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}
